.news {
  &__list {
    display: block;
    padding: 0;
    margin: 0;
    &__inner {
      list-style: none;
      display: block;
      box-sizing: border-box;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: solid 1px $primary;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        box-sizing: border-box;
      }
      &-ttl {
        font-size: $font-size-sm;
        margin: 0;
      }
      &-time {
        display: block;
        font-size: $font-size-sm;
        margin: 0.5rem 0;
        color: $secondary;
      }
      &-data {
        font-size: $font-size-sm;
      }
    }
  }
}
